<nav>
  <ul>
    <li id="active"><img src="/svg/github.svg" alt="Organisation"> Organisations</li>
    <li><a href="/teams"><img src="/svg/team.svg" alt="Team"> Teams</a></li>
    <li><a href="/members"><img src="/svg/user.svg" alt="User"> Members</a></li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li><a href="/repositories"><img src="/svg/respository.svg" alt="Respository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
  </ul>
</nav>

<p><input type="text" id="filter" autocomplete="off" placeholder="Filter organisations..."></p>
<table id="data">
  <thead>
    <tr>
      <th class="no-wrap">Name</th>
      <th>Description</th>
      <th class="no-wrap">Members</th>
      <th class="no-wrap">Repositories</th>
      <th class="no-wrap">Teams</th>
      <th class="no-wrap">Created</th>
      <th class="no-wrap">Updated</th>
    </tr>
  </thead>
  <tbody>
  <% organisations.each_with_index do |organisation, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td class="no-wrap"><img class="avatar-small" src="<%= organisation.avatar_url %>" alt="<%=h organisation.name %>"> <a href="/organisations/<%=h organisation.login %>"><%=h organisation.name %></a></td>
      <td><% if organisation.description.nil? || organisation.description.empty? %>-<% else %><%=h organisation.description %><% end %></td>
      <td class="no-wrap"><% unless member_counts[i].zero? %><a href="/organisations/<%=h organisation.login %>/members"><%=pluralise(member_counts[i], 'member') %></a><% else %>0 members<% end %></td>
      <td class="no-wrap"><% unless organisation.repositories.total_count.zero? %><a href="/organisations/<%=h organisation.login %>/repositories"><%=pluralise(organisation.repositories.total_count, 'repository', 'repositories') %></a><% else %>0 repositories<% end %></td>
      <td class="no-wrap"><% unless organisation.teams.total_count.zero? %><a href="/organisations/<%=h organisation.login %>/teams"><%=pluralise(organisation.teams.total_count, 'team') %></a><% else %>0 teams<% end %></td>
      <td class="no-wrap"><%=d organisation.created_at %></td>
      <td class="no-wrap"><%=d organisation.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<section id="pagination">
  <%= pagination_links(pagy) %>
</section>