<nav>
  <ul>
    <li><a href="/">Organisation</a></li>
    <li id="active">Members</li>
    <li><a href="/collaborators">Outside Collaborators</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/repositories">Repositories</a></li>
  </ul>
</nav>

<p><input type="text" id="filter" autocomplete="off" placeholder="Filter members..."></p>
<table id="data">
  <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
  <% members.each_with_index do |member, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td><img class="avatar-small" src="<%= member.avatar_url %>" alt="<%=h member.login %>"> <a href="/members/<%=h member.login %>"><%=h member.login %></a></td>
      <td><% if member.name.nil? || member.name.empty? %>-<% else %><a href="/members/<%=h member.login %>"><%=h member.name %><% end %></a></td>
      <td><% if member.user.email.nil? || member.user.email.empty? %>-<% else %><%=h member.user.email %><% end %></td>
      <td><%=d member.created_at %></td>
      <td><%=d member.user.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<section id="pagination">
  <%= pagination_links(pagy) %>
</section>