<nav>
  <ul>
    <li><a href="/">Organisation</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/collaborators">Access</a></li>
    <li><a href="/teams">Teams</a></li>
    <li id="active">Repositories</li>
    <li><a href="/two-factor-security">2FA Security</a></li>
  </ul>
</nav>

<p><input type="text" id="filter" autocomplete="off" placeholder="Filter repositories..."></p>
<table id="data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Primary Language</th>
      <th class="no-wrap">Access</th>
      <th class="no-wrap">Created</th>
      <th class="no-wrap">Updated</th>
    </tr>
  </thead>
  <tbody>
  <% repositories.each_with_index do |repo, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td><a href="/repositories/<%=h repo.name %>"><%=h repo.name %></a> <% if repo.is_private %><span class="note">Private</span><% end %> <% if repo.is_archived == true %><span class="note">Archived</span><% end %></td>
      <td><% if repo.description.nil? || repo.description.empty? %>-<% else %><%=h repo.description %><% end %></td>
      <td><% if repo.primary_language.nil? %>-<% else %><%=h repo.primary_language.name %><% end %></td>
      <td class="no-wrap"><% if repo.collaborators.nil? %>0 members<% else %><a href="/repositories/<%=h repo.name %>"><%=pluralise(repo.collaborators.total_count, 'member') %></a><% end %></td>
      <td class="no-wrap"><%=d repo.created_at %></td>
      <td class="no-wrap"><%=d repo.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<section id="pagination">
  <%= pagination_links(pagy) %>
</section>