<nav>
  <ul>
    <li><a href="/">Organisation</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/collaborators">Outside Collaborators</a></li>
    <li id="active">Repositories</li>
    <li><a href="/two-factor-security">2FA Security</a></li>
  </ul>
</nav>

<section class="row">
  <section class="column left">
    <h2><%=h repository %> <% if repo && repo.is_private %><span class="note">Private</span><% end %> <% if repo && repo.is_archived == true %><span class="note">Archived</span><% end %></h2>
  <% if repo.nil? %>
    <section class="profile-detail">
      <p>This repository doesn’t exist or isn’t within the GitHub organisation.</p>
    </section>
  <% else %>
    <p id="profile-stats"><img src="/svg/watch.svg" alt="Watching"> <%=pluralise(repo.watchers.total_count, 'watcher') %> &bull; <img src="/svg/star.svg" alt="Stars"> <%=n repo.stargazer_count %> &bull; <img src="/svg/fork.svg" alt="Forks"> <%=pluralise(repo.fork_count, 'fork') %></p>
    
    <section class="profile-detail">
    <% unless repo.description.nil? %>
      <p><%=h repo.description %><% unless repo.description.end_with?('.') %>.<% end %></p>
    <% end %>

      <p><img src="/svg/branch.svg" alt="Branch"> Default branch: <strong><%=h repo.default_branch_ref.name %></strong></p>
    
    <% unless repo.license_info.nil? %>
      <p><img src="/svg/licence.svg" alt="Licence"> <%=h repo.license_info.name %></p>
    <% end %>

      <p><img src="/svg/security.svg" alt="Security"> <%=pluralise(repo.vulnerability_alerts.total_count, 'security vulnerability alert') %></p>
      <p><img src="/svg/github.svg" alt="GitHub"> <a href="<%=h repo.url %>">View on GitHub</a></p>
    </section>
      
    <section class="profile-dates">
      <p><span>Created:</span><%=d repo.created_at %></p>
      <p><span>Updated:</span><%=d repo.updated_at %></p>
      <p><span>Pushed:</span><%=d repo.pushed_at %></p>
    </section>

    <h3>Languages</h3>
    <section id="languages">
    <% if repo.languages.edges.any? %>
    <% total = repo.languages.edges.inject(0) { |sum, edge| sum + edge.size } %>
    <ul>
    <% repo.languages.edges.sort_by(&:size).reverse.each do |language| %>
      <li><span class="swatch" style="color: <%= language.node.color %>;">&#9632;</span><%= language.node.name %> <span class="language-size"><%=percentage(language.size, total) %></span></li>
    <% end %>
    </ul>
    <% else %>
      <p>This repository doesn’t have any programming language files.</p>
    <% end %>
    </section>

    <h3>Branch Protection Rules</h3>
    <section id="branch-protection-rules">
    <% if repo.branch_protection_rules.nodes.any? %>
      <table style="margin-bottom: 25px;">
        <thead>
          <tr>
            <th>Branch Name Pattern</th>
            <th>Required Approving PR Reviews</th>
            <th>Dismiss Stale PR Approvals Upon New Commits</th>
            <th>Require Code Owner Reviews</th>
            <th>Restrict PR Review Dismissal</th>
            <th>Require Status Checks To Pass Before Merging</th>
            <th>Require Branches To Be Up-To-Date Before Merging</th>
          </tr>
        </thead>
        <tbody>
        <% repo.branch_protection_rules.nodes.sort_by(&:pattern).each_with_index do |rule, i| %>
          <tr class="<%= i.even? ? 'even' : 'odd' %>">
            <td><% if repo.default_branch_ref.name.eql?(rule.pattern) %><strong><% end %><%=h rule.pattern %><% if repo.default_branch_ref.name.eql?(rule.pattern) %></strong><% end %></td>
            <td><% if rule.required_approving_review_count.nil? %>0<% else %><%= rule.required_approving_review_count %><% end %></td>
            <td><% if rule.dismisses_stale_reviews %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.requires_code_owner_reviews %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.restricts_review_dismissals %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.requires_status_checks %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.requires_strict_status_checks %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
          </tr>  
        <% end %>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Branch Name Pattern</th>
            <th>Require Signed Commits</th>
            <th>Require Linear History</th>
            <th>Include Administrators</th>
            <th>Restrict Who Can Push To Matching Branches</th>
            <th>Allow Force Pushes</th>
            <th>Allow Deletions</th>
          </tr>
        </thead>
        <tbody>
        <% repo.branch_protection_rules.nodes.sort_by(&:pattern).each_with_index do |rule, i| %>
          <tr class="<%= i.even? ? 'even' : 'odd' %>">
            <td><% if repo.default_branch_ref.name.eql?(rule.pattern) %><strong><% end %><%=h rule.pattern %><% if repo.default_branch_ref.name.eql?(rule.pattern) %></strong><% end %></td>
            <td><% if rule.requires_commit_signatures %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.requires_linear_history %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.is_admin_enforced %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.restricts_pushes %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.allows_force_pushes %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
            <td><% if rule.allows_deletions %><img src="/svg/tick.svg" alt="Tick"><% else %><img src="/svg/cross.svg" alt="Cross"><% end %></td>
          </tr>  
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>This repository doesn’t have any branch protection rules.</p>
    <% end %>
    </section>
  <% end %>

    <p id="back-link"><a href="/repositories">&lt; Repositories</a></p>
  </section>

  <section class="column right">
  <% unless access.nil? || access.empty? %>
    <h2>Access</h2>
    <table>
      <tbody>
      <% access.sort_by(&:id).each_with_index do |permission_line, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd' %>">
        <% if permission_line.type.eql?('team') %>
          <td><img class="avatar-small" src="<%= permission_line.avatar_url %>" alt="<%=h permission_line.name %>"> <a href="/teams/<%=h permission_line.slug %>"><%=h permission_line.name %></a></td>
          <td><%=pluralise(permission_line.member_count, 'member') %></td>
        <% else %>
          <td><img class="avatar-small" src="<%= permission_line.avatar_url %>" alt="<%=h permission_line.login %>"> <% if permission_line.member %><a href="/members/<%=h permission_line.login %>"><% else %><a href="/collaborators/<%=h permission_line.login %>"><% end %><%=h permission_line.login %></a> <% unless permission_line.name.nil? || permission_line.name.empty? %>(<%=h permission_line.name %>)<% end %></td>
          <td><% if permission_line.member %>Member<% else %>Outside Collaborator<% end %></td>
        <% end %>
          <td><%= permission_line.permission.capitalize %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
  </section>
</section>
