<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li><a href="/teams"><img src="/svg/team.svg" alt="Team"> Teams</a></li>
    <li><a href="/members"><img src="/svg/user.svg" alt="User"> Members</a></li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li><a href="/repositories"><img src="/svg/repository.svg" alt="Repository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
    <li><a href="/contributions"><img src="/svg/chart.svg" alt="Chart"> Contributions</a></li>
    <li><a href="/inactive"><img src="/svg/clock.svg" alt="Clock"> Inactive</a></li>
  </ul>
</nav>

<% unless rate_limit.is_a?(NilClass) || rate_limit.nil? %>
<section id="rate-limit">
  <h3>GitHub GraphQL API Rate Limit</h3>
  <p><%=pluralise(rate_limit.remaining, 'point', 'points') %> remaining out of <%=pluralise(rate_limit.limit, 'point', 'points') %> limit</p>
  <p>Resets <%=d rate_limit.reset_at %></p>
</section>
<% end %>
<section id="version-info">
  <h3>Version Information</h3>
  <p>Branch: <a href="https://github.com/ONSdigital/<%=h repo_name %>/tree/<%=h branch %>"><%=h branch %></a></p>
  <p>Commit: <a href="https://github.com/ONSdigital/<%=h repo_name %>/commit/<%=h commit %>"><%=h commit %></a></p>
</section>
<section id="data-updates">
  <h3>Data Freshness</h3>
  <table>
    <thead>
      <tr>
        <th>Cron Job</th>
        <th>Last Updated (UTC)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td>all-inactive-users</td>
        <td><%=d all_inactive_users_updated %></td>
      </tr>
      <tr class="even">
        <td>all-members</td>
        <td><%=d all_members_updated %></td>
      </tr>
      <tr class="odd">
        <td>all-members-teams</td>
        <td><%=d all_members_teams_updated %></td>
      </tr>
      <tr class="even">
        <td>all-owners</td>
        <td><%=d all_owners_updated %></td>
      </tr>
      <tr class="odd">
        <td>all-repositories</td>
        <td><%=d all_repositories_updated %></td>
      </tr>
      <tr class="even">
        <td>all-two-factor-disabled</td>
        <td><%=d all_two_factor_disabled_updated %></td>
      </tr>
      <tr class="odd">
        <td>all-users-contributions</td>
        <td><%=d all_users_contributions_updated %></td>
      </tr>
      <tr class="even">
        <td>teamless-members</td>
        <td><%=d teamless_members_updated %></td>
      </tr>
    </tbody>
  </table>
</section>
