<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li><a href="/teams"><img src="/svg/team.svg" alt="Team"> Teams</a></li>
    <li><a href="/members"><img src="/svg/user.svg" alt="User"> Members</a></li>
    <li id="active"><img src="/svg/user.svg" alt="User"> Outside Collaborators</li>
    <li><a href="/repositories"><img src="/svg/respository.svg" alt="Respository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
  </ul>
</nav>

<table id="data" class="row-border" data-page-length="20">
  <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Email</th>
      <th>Access</th>
      <th class="no-wrap">Created</th>
      <th class="no-wrap">Updated</th>
    </tr>
  </thead>
  <tbody>
  <% collaborators.each_with_index do |collaborator, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td><img class="avatar-small" src="<%= collaborator.node.avatar_url %>" alt="<%=h collaborator.node.login %>"> <a href="/collaborators/<%=h collaborator.node.login %>"><%=h collaborator.node.login %></a></td>
      <td><% if collaborator.node.name.nil? || collaborator.node.name.empty? %>-<% else %><a href="/collaborators/<%=h collaborator.node.login %>"><%=h collaborator.node.name %><% end %></a></td>
      <td><% if collaborator.node.email.nil? || collaborator.node.email.empty? %>-<% else %><%=h collaborator.node.email %><% end %></td>
      <td><%=pluralise(collaborator.repositories.total_count, 'repository', 'repositories') %></td>
      <td class="no-wrap" data-order="<%= collaborator.node.created_at %>"><%=d collaborator.node.created_at %></td>
      <td class="no-wrap" data-order="<%= collaborator.node.updated_at %><"><%=d collaborator.node.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
