<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li><a href="/teams"><img src="/svg/team.svg" alt="Team"> Teams</a></li>
    <li><a href="/members"><img src="/svg/user.svg" alt="User"> Members</a></li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li><a href="/repositories"><img src="/svg/repository.svg" alt="Repository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
    <li><a href="/contributions"><img src="/svg/chart.svg" alt="Chart"> Contributions</a></li>
    <li id="active"><img src="/svg/clock.svg" alt="Clock"> Inactive</li>
  </ul>
</nav>

<p>The users below have no contributions within the past six months. The following actions count as contributions:</p>
<ul id="contributions-key">
  <li>Joining an organisation</li>
  <li>Committing to a repository's default branch or <code>gh-pages</code> branch</li>
  <li>Opening an issue</li>
  <li>Opening a discussion</li>
  <li>Answering a discussion</li>
  <li>Proposing a pull request</li>
  <li>Submitting a pull request review</li>
</ul>
<table id="data" class="inactive row-border" data-page-length="20">
  <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Email</th>
      <th>Two Factor Security</th>
      <th>Account Type</th>
      <th class="no-wrap">Created</th>
      <th class="no-wrap">Updated</th>
    </tr>
  </thead>
  <tbody>
  <% inactive_users.each_with_index do |user, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td><img class="avatar-small" src="<%= user[:avatar_url] %>" alt="<%=h user[:login] %>"> <% if user[:member] %><a href="/members/<%=h user[:login] %>"><% else %><a href="/collaborators/<%=h user[:login] %>"><% end %><%=h user[:login] %></a></td>
      <td><% if user[:name].nil? || user[:name].empty? %>-<% else %><% if user[:member] %><a href="/members/<%=h user[:login] %>"><% else %><a href="/collaborators/<%=h user[:login] %>"><% end %><%=h user[:name] %><% end %></a></td>
      <td><% if user[:email].nil? || user[:email].empty? %>-<% else %><%=h user[:email] %><% end %></td>
      <td><% if two_factor_disabled.include?(user[:login]) %><img src="/svg/cross.svg" alt="Cross"><% else %><img src="/svg/tick.svg" alt="Tick"><% end %></td>
      <td><% if user[:member] %>Member<% else %>Outside Collaborator<% end %></td>
      <td class="no-wrap" data-order="<%= user[:created_at] %>"><%=d user[:created_at] %></td>
      <td class="no-wrap" data-order="<%= user[:updated_at] %>"><%=d user[:updated_at] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
