<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.min.css?1725540700">

    <!-- https://datatables.net -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/datatables.min.css"/> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/datatables.min.js"></script>

    <!-- https://github.com/js-cookie/js-cookie -->
    <script type="module" src="/javascripts/js.cookie.js"></script>

    <script src="/javascripts/app.js?1725540700"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <section id="organisation">Organisation 
      <select id="selected-organisation">
    <% @organisations.each do |organisation| %>
      <% if @selected_organisation.eql?(organisation) %>
        <option selected><%=h organisation %></option>
      <% else %>
        <option><%=h organisation %></option>
      <% end %>
    <% end %>
      </select>
    </section>
    <%= yield %>
  </body>
</html>
