<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li><a href="/teams"><img src="/svg/team.svg" alt="Team"> Teams</a></li>
    <li id="active"><img src="/svg/user.svg" alt="User"> Members</li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li><a href="/repositories"><img src="/svg/respository.svg" alt="Respository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
  </ul>
</nav>

<table id="data" class="row-border" data-page-length="20">
  <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Email</th>
      <th class="no-wrap">Created</th>
      <th class="no-wrap">Updated</th>
    </tr>
  </thead>
  <tbody>
  <% members.each_with_index do |member, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td><img class="avatar-small" src="<%= member.avatar_url %>" alt="<%=h member.login %>"> <a href="/members/<%=h member.login %>"><%=h member.login %></a></td>
      <td><% if member.name.nil? || member.name.empty? %>-<% else %><a href="/members/<%=h member.login %>"><%=h member.name %><% end %></a></td>
      <td><% if member.user.email.nil? || member.user.email.empty? %>-<% else %><%=h member.user.email %><% end %></td>
      <td class="no-wrap" data-order="<%= member.created_at %>"><%=d member.created_at %></td>
      <td class="no-wrap" data-order="<%= member.user.updated_at %>"><%=d member.user.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
