<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li><a href="/teams"><img src="/svg/team.svg" alt="Team"> Teams</a></li>
    <li id="active"><img src="/svg/user.svg" alt="User"> Members</li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li><a href="/repositories"><img src="/svg/respository.svg" alt="Respository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
    <li><a href="/contributions"><img src="/svg/chart.svg" alt="Chart"> Contributions</a></li>
    <li><a href="/inactive"><img src="/svg/clock.svg" alt="Clock"> Inactive</a></li>
  </ul>
</nav>

<section class="row">
<% if member.enterprise.members.nodes.empty? %>
  <section class="column left">
    <h2><%=h login %></h2>
    <section class="profile-detail">
      <p>This member doesn’t exist or isn’t within the GitHub organisation.</p>
    </section>
    <p id="back-link"><a href="/members">&lt; Members</a></p>
  </section>
<% else %>
  <section class="column left">
    <p><img class="avatar-large" src="<%= member.enterprise.members.nodes.first.avatar_url %>"></p>

  <% unless member.enterprise.members.nodes.first.name.nil? %>
    <h2><%=h member.enterprise.members.nodes.first.name %></h2>
    <p id="login"><%=h member.enterprise.members.nodes.first.login %> (<%=h member.enterprise.members.nodes.first.database_id %>)</p>
  <% else %>
    <p id="login-only"><%=h member.enterprise.members.nodes.first.login %> (<%=h member.enterprise.members.nodes.first.database_id %>)</p>
  <% end %>

  <% unless member.enterprise.members.nodes.first.bio.nil? %>
    <p id="bio"><%=h member.enterprise.members.nodes.first.bio %></p>
  <% end %>

    <p id="profile-stats"><img src="/svg/followers.svg" alt="Followers"> <%=pluralise(member.enterprise.members.nodes.first.followers.total_count, 'follower') %> &bull; <%=n member.enterprise.members.nodes.first.following.total_count %> following &bull; <img src="/svg/star.svg" alt="Starred"> <%=n member.enterprise.members.nodes.first.starred_repositories.total_count %></p>

    <section class="profile-detail">
    <% if owner %>
      <p><img src="/svg/github.svg" alt="GitHub"> GitHub organisation owner</p>
    <% end %>

    <% unless member.enterprise.members.nodes.first.company.nil? || member.enterprise.members.nodes.first.company.empty? %>
      <p><img src="/svg/company.svg" alt="Company"> <%=h member.enterprise.members.nodes.first.company %></p>
    <% end %>

    <% unless member.enterprise.members.nodes.first.location.nil? || member.enterprise.members.nodes.first.location.empty? %>
      <p><img src="/svg/location.svg" alt="Location"> <%=h member.enterprise.members.nodes.first.location %></p>
    <% end %>

    <% unless member.enterprise.members.nodes.first.email.nil? || member.enterprise.members.nodes.first.email.empty? %>
      <p><img src="/svg/email.svg" alt="Email"> <a href="mailto:<%=h member.enterprise.members.nodes.first.email %>"><%=h member.enterprise.members.nodes.first.email %></a></p>
    <% end %>

    <% unless member.enterprise.members.nodes.first.twitter_username.nil? || member.enterprise.members.nodes.first.twitter_username.empty? %>
      <p><img src="/svg/twitter.svg" alt="Twitter"> <a href="https://twitter.com/<%=h member.enterprise.members.nodes.first.twitter_username %>">@<%=h member.enterprise.members.nodes.first.twitter_username %></a></p>
    <% end %>

    <% unless member.enterprise.members.nodes.first.website_url.nil? || member.enterprise.members.nodes.first.website_url.empty? %>
      <p><img src="/svg/website.svg" alt="Website"> <a href="<%= website_link(member.enterprise.members.nodes.first.website_url) %>"><%=h member.enterprise.members.nodes.first.website_url %></a></p>
    <% end %>

    <% unless member.organization.saml_identity_provider.nil? || member.organization.saml_identity_provider.external_identities.nodes.empty? %>
      <p><img src="/svg/lock.svg" alt="SSO identity"> SSO identity: <%=h member.organization.saml_identity_provider.external_identities.nodes.first.saml_identity.name_id %></p>
    <% end %>

      <p><img src="/svg/github.svg" alt="GitHub"> <a href="<%=h member.enterprise.members.nodes.first.url %>">View on GitHub</a></p>
    </section>
    <section id="contributions">
      <ul class="no-bullets">
        <li><%=pluralise(contributions[:commit_contributions], 'commit', 'commits') %></li>
        <li><%=pluralise(contributions[:issue_contributions], 'issue', 'issues') %></li>
        <li><%=pluralise(contributions[:pull_request_contributions], 'pull request', 'pull requests') %></li>
      </ul>
    </section>
    <section class="profile-dates">
      <p><span>Created:</span><%=d member.enterprise.members.nodes.first.created_at %></p>
      <p><span>Updated:</span><%=d member.enterprise.members.nodes.first.updated_at %></p>
      <p><% if member.enterprise.members.nodes.first.contributions_collection.has_any_contributions %>This user has contributions within the last year. <img src="/svg/tick.svg" alt="Tick"><% else %>This user doesn’t have contributions within the last year. <img src="/svg/cross.svg" alt="Cross"><% end %></p>
      <p><% if two_factor_disabled %>This user doesn’t have two-factor security enabled. <img src="/svg/cross.svg" alt="Cross"><% else %>This user has two-factor security enabled. <img src="/svg/tick.svg" alt="Tick"><% end %></p>
    </section>

    <h3>Organisations</h3>
    <section id="organisations">
      <ul class="no-bullets">
    <% member.enterprise.members.nodes.first.organizations.nodes.sort_by(&:name).each do |organisation| %>
        <li><img class="avatar-medium" src="<%=h organisation.avatar_url %>" alt="<%=h organisation.name %>"> <% if member.organization.name.eql?(organisation.name) %><a href="/"><%=h organisation.name %></a><% else %><%=h organisation.name %><% end %></li>
    <% end %>
      </ul>
    </section>

    <p id="back-link"><a href="/members">&lt; Members</a></p>
  </section>
  
  <section class="column right">
    <h2>Teams</h2>
    <section id="teams">
    <% if teams && teams.any? %>
      <ul class="no-bullets">
      <% teams.each do |team| %>
        <li><img src="/svg/team.svg" alt="Team"> <a href="/teams/<%=h team[:slug] %>"><%=h team[:name] %></a> <% if team[:privacy].eql?('SECRET') %><span class="note">Secret</span><% end %></li>
      <% end %>
      </ul>
      <%= pagination_links(pagy) %>
    <% else %>
      <p>This user isn’t a member of any teams.</p>
    <% end %>
    </section>
    <h2>Top Repositories</h2>
    <section class="repositories">
    <% if member.enterprise.members.nodes.first.top_repositories.nodes.any? %>
      <ul class="no-bullets">
      <% member.enterprise.members.nodes.first.top_repositories.nodes.each do |repo| %>
        <li><a href="/repositories/<%=h repo.name %>"><img src="/svg/respository.svg" alt="Respository"> <%=h repo.name %></a> <% if repo.is_private %><span class="note">Private</span><% end %></li>
      <% end %>
      </ul>
    <% else %>
      <p>This user hasn’t contributed to or created any repositories.</p>
    <% end %>
    </section>
  </section>
<% end %>
</section>
