<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li><a href="/teams"><img src="/svg/team.svg" alt="Team"> Teams</a></li>
    <li><a href="/members"><img src="/svg/user.svg" alt="User"> Members</a></li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li id="active"><img src="/svg/repository.svg" alt="Repository"> Repositories</li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
    <li><a href="/contributions"><img src="/svg/chart.svg" alt="Chart"> Contributions</a></li>
    <li><a href="/inactive"><img src="/svg/clock.svg" alt="Clock"> Inactive</a></li>
  </ul>
</nav>

<% if repositories.empty? %>
<section class="row">
  <section class="column left">
    <section id="no-repositories">
      <p>This GitHub organisation doesn’t have any repositories.</p>
    </section>
  </section>
</section>
<% else %>
<nav>
  <ul>
<% if request.path_info.end_with?('repositories') %><li id="active-filter">All</li><% else %><li><a href="/repositories">All</a></li><% end %>
<% if request.path_info.end_with?('archived') %><li id="active-filter">Archived</li><% else %><li><a href="/repositories/archived">Archived</a></li><% end %>
<% if request.path_info.end_with?('private') %><li id="active-filter">Private/Internal</li><% else %><li><a href="/repositories/private">Private/Internal</a></li><% end %>
<% if request.path_info.end_with?('public') %><li id="active-filter">Public</li><% else %><li><a href="/repositories/public">Public</a></li><% end %>
<% if request.path_info.end_with?('template') %><li id="active-filter">Template</li><% else %><li><a href="/repositories/template">Template</a></li><% end %>
  </ul>
</nav>
<table id="data" class="repositories row-border" data-page-length="20">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Primary Language</th>
      <th>Branch Protection Rules</th>
      <th>Security Vulnerability Alerts</th>
      <th>Access</th>
      <th class="no-wrap">Created</th>
      <th class="no-wrap">Pushed</th>
    </tr>
  </thead>
  <tbody>
  <% repositories.each do |repo| %>
    <tr>
      <td><a href="/repositories/<%=h repo[:name] %>"><%=h repo[:name] %></a> <% if repo[:isPrivate] %><span class="note">Private</span><% end %> <% if repo[:isArchived] %><span class="note">Archived</span><% end %> <% if repo[:isTemplate] %><span class="note">Template</span><% end %></td>
      <td><% if repo[:description].nil? || repo[:description].empty? %>-<% else %><%=h repo[:description] %><% end %></td>
      <td><% if repo[:primaryLanguage].nil? %>-<% else %><%=h repo[:primaryLanguage][:name] %><% end %></td>
      <td><% if repo[:branchProtectionRules][:totalCount].zero? %><img src="/svg/cross.svg" alt="Cross"><% else %><img src="/svg/tick.svg" alt="Tick"><% end %></td>
      <td><%=n repo[:vulnerabilityAlerts][:totalCount] %></td>
      <td><% if repo[:collaborators].nil? %>0 members<% else %><a href="/repositories/<%=h repo[:name] %>"><%=pluralise(repo[:collaborators][:totalCount], 'member') %></a><% end %></td>
      <td class="no-wrap" data-order="<%= repo[:createdAt] %>"><%=d repo[:createdAt] %></td>
      <td class="no-wrap" data-order="<%= repo[:pushedAt] %>"><%=d repo[:pushedAt] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
