<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li id="active"><img src="/svg/team.svg" alt="Team"> Teams</li>
    <li><a href="/members"><img src="/svg/user.svg" alt="User"> Members</a></li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li><a href="/repositories"><img src="/svg/respository.svg" alt="Respository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
    <li><a href="/contributions"><img src="/svg/chart.svg" alt="Chart"> Contributions</a></li>
    <li><a href="/inactive"><img src="/svg/clock.svg" alt="Clock"> Inactive</a></li>
  </ul>
</nav>

<% if teamless_members.positive? %>
<p><img src="/svg/exclamation.svg" alt="Notice" style="vertical-align: middle;"> <a href="/teamless">There are <%=pluralise(teamless_members, 'member') %> who don’t belong to any team. Click to view them</a>.</p>
<% end %>
<table id="data" class="teams row-border" data-page-length="20">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Members</th>
      <th class="no-wrap">Created</th>
      <th class="no-wrap">Updated</th>
    </tr>
  </thead>
  <tbody>
  <% i = 1 %>
  <% teams.each do |team| i += 1 %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td data-order="<%=h team.name %>"><img class="avatar-small" src="<%= team.avatar_url %>" alt="<%=h team.name %>"> <a href="/teams/<%=h team.slug %>"><%=h team.name %></a> <% if team.privacy.eql?('SECRET') %><span class="note">Secret</span><% end %></td>
      <td><% if team.description.nil? || team.description.empty? %>-<% else %><%=h team.description %><% end %></td>
      <td data-order="<%= team.members.total_count %>"><a href="/teams/<%=h team.slug %>"><%=pluralise(team.members.total_count, 'member') %></a></td>
      <td class="no-wrap" data-order="<%= team.created_at %>"><%=d team.created_at %></td>
      <td class="no-wrap" data-order="<%= team.updated_at %>"><%=d team.updated_at %></td>
    </tr>  
  <% team.child_teams.nodes.each do |child_team| i+= 1 %>
    <tr class="child <%= i.even? ? 'even' : 'odd' %>">
      <td data-order="<%=h team.name %>"><img class="avatar-small" src="<%= child_team.avatar_url %>" alt="<%=h child_team.name %>"> <a href="/teams/<%=h child_team.slug %>"><%=h child_team.name %></a> <span class="note">Child Team</span> <% if child_team.privacy.eql?('SECRET') %><span class="note">Secret</span><% end %></td>
      <td><% if child_team.description.nil? || child_team.description.empty? %>-<% else %><%=h child_team.description %><% end %></td>
      <td data-order="<%= child_team.members.total_count %>"><a href="/teams/<%=h child_team.slug %>"><%=pluralise(child_team.members.total_count, 'member') %></a></td>
      <td class="no-wrap" data-order="<%= child_team.created_at %>"><%=d child_team.created_at %></td>
      <td class="no-wrap" data-order="<%= child_team.updated_at %>"><%=d child_team.updated_at %></td>
    </tr>
  <% child_team.child_teams.nodes.each do |child_child_team| i += 1 %>
    <tr class="child-child <%= i.even? ? 'even' : 'odd' %>">
      <td data-order="<%=h team.name %>"><img class="avatar-small" src="<%= child_child_team.avatar_url %>" alt="<%=h child_child_team.name %>"> <a href="/teams/<%=h child_child_team.slug %>"><%=h child_child_team.name %></a> <span class="note">Child Team</span> <% if child_team.privacy.eql?('SECRET') %><span class="note">Secret</span><% end %></td>
      <td><% if child_child_team.description.nil? || child_child_team.description.empty? %>-<% else %><%=h child_child_team.description %><% end %></td>
      <td data-order="<%= child_child_team.members.total_count %>"><a href="/teams/<%=h child_child_team.slug %>"><%=pluralise(child_child_team.members.total_count, 'member') %></a></td>
      <td class="no-wrap" data-order="<%= child_child_team.created_at %>"><%=d child_child_team.created_at %></td>
      <td class="no-wrap" data-order="<%= child_child_team.updated_at %>"><%=d child_child_team.updated_at %></td>
    </tr>  
  <% end %> <%# team.child_teams.nodes.child_teams.nodes.each do |child_child_team| %>
  <% end %> <%# team.child_teams.nodes.each do |child_team| %>
  <% end %> <%# teams.each_with_index do |team, i| %>
  </tbody>
</table>
