<nav>
  <ul>
    <li><a href="/"><img src="/svg/github.svg" alt="Organisation"> Organisation</a></li>
    <li id="active"><img src="/svg/team.svg" alt="Team"> Teams</li>
    <li><a href="/members"><img src="/svg/user.svg" alt="User"> Members</a></li>
    <li><a href="/collaborators"><img src="/svg/user.svg" alt="User"> Outside Collaborators</a></li>
    <li><a href="/repositories"><img src="/svg/repository.svg" alt="Repository"> Repositories</a></li>
    <li><a href="/two-factor-security"><img src="/svg/lock.svg" alt="Lock"> 2FA Security</a></li>
    <li><a href="/contributions"><img src="/svg/chart.svg" alt="Chart"> Contributions</a></li>
    <li><a href="/inactive"><img src="/svg/clock.svg" alt="Clock"> Inactive</a></li>
  </ul>
</nav>

<section class="row">
  <section class="column left">
    <p><img class="avatar-large" src="<%=team.avatar_url %>"></p>

    <h2><%=h team.name %> <% if team.privacy.eql?('SECRET') %><span class="note">Secret</span><% end %> <% if team.parent_team? %><span class="note">Child Team</span><% end %></h2>

    <section class="profile-detail">
    <% unless team.description.nil? %>
      <p><%=h team.description %></p>
    <% end %>

      <p><img src="/svg/team.svg" alt="Team"> <%=pluralise(team.members.count, 'member') %>
      <p><img src="/svg/github.svg" alt="GitHub"> <a href="<%=h team.url %>">View on GitHub</a></p>

    <% unless team.ancestors.empty? %>
      <h3>Parent <% if team.ancestors.count == 1 %>Team<% else %>Teams<% end %></h3>
      <ul class="no-bullets">
      <% team.ancestors.each_with_index do |ancestor, i| %>
        <li class="child-<%= i %>"><img src="/svg/team.svg" alt="Team"> <a href="/teams/<%=h ancestor.slug %>"><%=h ancestor.name %></a> <% if ancestor.privacy.eql?('SECRET') %><span class="note">Secret</span><% end %></li>
      <% end %>
      </ul>
    <% end%>

    <% unless team.child_teams.empty? %>
      <h3>Child <% if team.child_teams.count == 1 %>Team<% else %>Teams<% end %></h3>
      <ul class="no-bullets">
      <% team.child_teams.each do |child| %>
        <li class="child-0"><img src="/svg/team.svg" alt="Team"> <a href="/teams/<%=h child.slug %>"><%=h child.name %></a></li>
      <% child.child_teams.nodes.each do |second_child| %>
        <li class="child-1"><img src="/svg/team.svg" alt="Team"> <a href="/teams/<%=h second_child.slug %>"><%=h second_child.name %></a></li>
      <% second_child.child_teams.nodes.each do |third_child| %>
        <li class="child-2"><img src="/svg/team.svg" alt="Team"> <a href="/teams/<%=h third_child.slug %>"><%=h third_child.name %></a></li>
      <% third_child.child_teams.nodes.each do |fourth_child| %>
        <li class="child-3"><img src="/svg/team.svg" alt="Team"> <a href="/teams/<%=h fourth_child.slug %>"><%=h fourth_child.name %></a></li>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
      </ul>
    <% end%>
    </section>
    <section class="profile-dates">
      <p><span>Created:</span><span class="date"><%=d team.created_at %></span></p>
      <p><span>Updated:</span><span class="date"><%=d team.updated_at %></span></p>
    </section>

    <p id="back-link"><a href="/teams">&lt; Teams</a></p>
  </section>

  <section class="column right">
    <h2>Members</h2>
    <section id="members">
    <% if members && members.any? %>
      <ul class="no-bullets">
      <% members.each do |member| %>
        <li><img src="/svg/user.svg" alt="User"> <a href="/members/<%=h member.login %>"><%=h member.login %></a> <% unless member.name.nil? || member.name.empty? %>(<%=h member.name %>)<% end %> <% if member.role.eql?('MAINTAINER') %><span class="note">Maintainer</span><% end %></li>
      <% end %>
      </ul>
      <%= pagination_links(pagy) %>
    <% else %>
      <p>This team doesn’t have any members.</p>
    <% end %>
    </section>
  </section>
</section>
